<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About Page</title>
  </head>
  <body>
   <h1>This is the about page.</h1>
   <h2>We love them unicorns!</h2>
   <img src=http://38.media.tumblr.com/tumblr_lslp5cydD01qlqh1ho1_400.gif>
  </body>
</html>